.item-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  height: 1.5rem;
}
